// product css
.products{
    padding: 7vmin;

    .headline h2{
        &::before{
            content: '';
            width: 30vmin;
            height: 0.125rem;
            background-color: $bg-danger;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%,-50%);
            border-radius: 0.625rem;
        }
    }

    a{
        text-decoration: none;
        color: $text-black;
    }

    .product-list .product-img{
        img{
            transition: all 500ms ease-in-out;
        }

        .product-img-second{
            opacity: 0;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        &:hover .product-img-second{
            opacity: 1;
        }

        .sale{
            background: $bg-danger;
            border-radius: 0.313rem;
            color: $text-white;
            font-size: 0.813rem;
            letter-spacing: 0.125rem;
            line-height: 1.563rem;
            padding: 0.125rem 0.813rem;
            text-transform: uppercase;
            position: absolute;
            left: 1rem;
            top: 1.188rem;
            z-index: 1;
        }
    }

    .product-list .product-name{

        h3{
            font-size: 1.125rem;
            color: $text-black;
            transition: all 0.3s ease 0s;

            &:hover{
                color: $text-danger;
            }
        }

        .amount{
            color: $text-danger;
            font-weight: 500;

            s{
                color: $text-black;
            }
        }

        .fa-star{
            color: $text-gray;
        }
        .fa-solid.fa-star{
            color: $text-danger;
        }

        .add-to-cart{
            background: transparent;
            border: none;
            font-size: 1.2rem;
            font-weight: 500;
            transition: all 0.3s ease 0s;

            &:hover{
                color: $text-danger;
            }
        }
    }

    .up-to-off{
        position: relative;

        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            right: 100%;
            background-color: rgba(0,0,0,0.2);
            z-index: 2;
            cursor: pointer;
            transition: 0.5s;
        }

        img{
            transition: 0.5s;
        }

        &:hover img{
            transform: scale(1.1);
        }
    }

    .up-to-content h2{
        color: $text-white;
        font-weight: 1.625rem;
        font-size: 3vmin;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 3;
    }

}