// special css
.special{
    padding: 3vw;
    background: $bg-light-white;

    .countdown-container{
        padding-top: 4rem;

        p{
            color: $text-dark-gray;
            font-weight: 300;
            line-height: 1.875rem;
        }

        .countdown-counter{
            display: block;
            width: 100%;
            margin: 0;
            padding: 0;
            margin-bottom: 1.875rem;

            li{
                display: inline-block;
                font-size: 0.875rem;
                font-weight: bold;
                text-align: center;
                background: $bg-white;
                border-radius: 0.313rem;
                padding: 2rem 1rem;
                width: 20%;
                margin: 0 0.313rem;

                span{
                    font-weight: 500;
                }

            }
        }

        .countdown-price s{
            color: $text-gray;
            font-size: 1rem;
        }
    }

    .special-img .sale{
        background: $bg-danger;
        border-radius: 0.313rem;
        font-size:0.813rem;
        color: $text-white;
        letter-spacing: 0.125rem;
        line-height: 1.253rem;
        padding: 0.125rem 0.813rem;
        text-transform: uppercase;
        position: absolute;
        left: 1rem;
        top: 1.188rem;
        z-index: 1;
    }
}
